.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg); }

#logo {
  display: block;
  margin: 0 auto;
  width: 100%;
  height: 100%; }

#banner {
  display: block;
  margin: 0 auto;
  width: 100%;
  height: 100%; }

#social {
  width: 100%; }
  #social img {
    width: 2rem;
    padding: .1rem; }
    @media (min-width: 768px) and (max-width: 1023px) {
      #social img {
        margin-right: .5rem; } }

.article-thumb {
  background: white; }

.content-home {
  margin-bottom: 3rem; }
  @media (min-width: 768px) and (max-width: 1023px) {
    .content-home {
      width: 100%; } }
  @media (min-width: 1024px) and (max-width: 1440px) {
    .content-home {
      width: 100%; } }

.content-h1 {
  font-family: "Ava Meridian", Arial, serif;
  font-size: 1rem; }

.content-home-bg {
  width: 100%;
  height: 100%; }

.content-images {
  width: 100%;
  height: 8rem; }
  @media (min-width: 768px) and (max-width: 1023px) {
    .content-images {
      height: 12rem; } }
  @media (min-width: 1024px) and (max-width: 1440px) {
    .content-images {
      height: 15rem; } }

.content-images-recent {
  width: 100%;
  height: 5rem; }
  @media (min-width: 768px) and (max-width: 1023px) {
    .content-images-recent {
      height: 8rem; } }
  @media (min-width: 1024px) and (max-width: 1440px) {
    .content-images-recent {
      height: 10rem; } }

.content-article {
  width: 75%; }
  .content-article h2 {
    font-family: "Ava Meridian", Arial, serif;
    font-size: 14px;
    padding-top: .5rem; }

.content-article-recent {
  width: 50%; }
  .content-article-recent h2 {
    font-family: "Euphemia UCAS", Arial, serif;
    font-size: 1rem;
    padding-top: .5rem; }

.content-h2 {
  background: #176A90;
  font-family: "Euphemia UCAS", Arial, serif;
  font-size: .8rem;
  padding: 0.2rem; }

.page-description {
  font-family: "Euphemia UCAS", Arial, serif;
  font-size: .7rem; }
  @media (min-width: 768px) and (max-width: 1023px) {
    .page-description {
      font-size: 1rem; } }
  @media (min-width: 1024px) and (max-width: 1440px) {
    .page-description {
      font-size: 1rem; } }

.accordian-articles {
  width: 45%;
  height: 7rem;
  margin: .4rem;
  background: #176A90;
  border-radius: .5rem; }
  .accordian-articles:hover {
    background: #13A2E5; }
  @media (min-width: 768px) and (max-width: 1023px) {
    .accordian-articles {
      width: 30%; } }
  @media (min-width: 1024px) and (max-width: 1440px) {
    .accordian-articles {
      width: 20%; } }
  .accordian-articles img {
    width: 100%;
    height: 80%; }
  .accordian-articles h3 {
    color: white;
    font-size: .8rem;
    font-family: "Euphemia UCAS", Arial, serif;
    width: fit-content; }

.accordian-articles-resources {
  width: 100%;
  height: 5rem;
  background: #176A90;
  margin-bottom: 1rem;
  border-radius: .5rem; }
  .accordian-articles-resources:hover {
    background: #13A2E5; }
  @media (min-width: 1024px) and (max-width: 1440px) {
    .accordian-articles-resources {
      width: 100%;
      height: 7rem; } }
  .accordian-articles-resources img {
    width: 50%;
    height: 5rem; }
    @media (min-width: 1024px) and (max-width: 1440px) {
      .accordian-articles-resources img {
        height: 7rem; } }
  .accordian-articles-resources h3, .accordian-articles-resources h4 {
    color: white;
    padding: .2rem;
    font-size: .7rem;
    font-family: "Euphemia UCAS", Arial, serif;
    width: 100%; }
    @media (min-width: 1024px) and (max-width: 1440px) {
      .accordian-articles-resources h3, .accordian-articles-resources h4 {
        font-size: 1rem; } }
  .accordian-articles-resources h4 {
    font-size: .2rem;
    width: 100%; }
    @media (min-width: 1024px) and (max-width: 1440px) {
      .accordian-articles-resources h4 {
        font-size: .8rem; } }

#avatar {
  width: 30%; }

#about, #contact {
  background: #062847;
  height: 100%; }
  #about h2, #contact h2 {
    font-family: "Ava Meridian", Arial, serif; }

.card-header {
  color: white; }

input {
  background: #17903D;
  color: white; }

#feedback {
  font-size: 1rem;
  font-family: "Euphemia UCAS", Arial, serif;
  color: white; }

#contact-info {
  font-size: 1.5rem; }

#methods a, #methods p {
  font-size: .9rem; }

.form-control {
  width: 100%; }

.contact-form {
  width: 50%; }
  @media (min-width: 320px) and (max-width: 425px) {
    .contact-form {
      width: 75%; } }

.wrapper {
  min-height: 100%;
  margin-bottom: -50px; }

.card {
  margin-bottom: 1rem;
  color: black; }

.card-block {
  padding: 0.5rem;
  background: #062847; }

.card-header {
  background: #176A90; }

body, html {
  background: #0B3E5F;
  color: white;
  margin: 0;
  padding: 0;
  height: 100%;
  box-sizing: border-box; }

header {
  overflow: auto;
  background: #115478;
  margin-bottom: 2rem; }
  header div {
    display: flex; }

.navbar-nav {
  font-family: "Ava Meridian", Arial, serif; }
  .navbar-nav a {
    color: white;
    font-size: 0.7rem; }
    @media (min-width: 768px) and (max-width: 1023px) {
      .navbar-nav a {
        font-size: 0.7rem; } }
    @media (min-width: 1024px) and (max-width: 1440px) {
      .navbar-nav a {
        font-size: 1rem; } }

ul {
  width: 70%;
  margin: 0 auto; }

p {
  font-family: "Euphemia UCAS", Arial, serif;
  font-size: .7rem; }

a {
  cursor: pointer; }

label {
  font-family: "Euphemia UCAS", Arial, serif; }

input {
  margin-bottom: 1rem; }

h1 {
  font-family: "Ava Meridian", Arial, serif;
  font-size: 1rem; }

h2 {
  font-family: "Euphemia UCAS", Arial, serif;
  font-size: 1rem; }
  h2 a {
    color: white;
    font-family: "Ava Meridian", Arial, serif; }

h3 {
  font-size: 2rem; }

i {
  float: right;
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px; }
