#logo{
  display: block;
  margin: 0 auto;
  width: 100%;
 height: 100%;
}

#banner{
  display: block;
  margin: 0 auto;
  width: 100%;
  height: 100%;
}

#social{
  width: 100%;
  img {
    width: 2rem;
    padding: .1rem;
    @include nav(tablet){
      margin-right: .5rem;
    }
  }
}

.article-thumb{
  background: white;
}

.content-home{
  margin-bottom: 3rem;
  @include nav(tablet){
    width: 100%;
  }
  @include nav(pc){
    width: 100%;
  }
}

.content-h1{
  font-family: $mainfont;
  font-size: 1rem;
}

.content-home-bg{
  width: 100%;
  height: 100%;
}

.content-images{
  width: 100%;
  height: 8rem;
  @include nav(tablet){
    height: 12rem;
  }
  @include nav(pc){
   height: 15rem;
  }
}

.content-images-recent{
  width: 100%;
  height: 5rem;
  @include nav(tablet){
    height: 8rem;
  }
  @include nav(pc){
    height: 10rem;
  }
}

.content-article{
  width: 75%;

  h2{
    font-family: $mainfont;
    font-size: 14px;
    padding-top: .5rem;
  }

}

.content-article-recent{
  width: 50%;

  h2{
    font-family: $pfont;
    font-size: 1rem;
    padding-top: .5rem;
  }

}

.content-h2{
  background: #176A90;
  font-family: $pfont;
  font-size: .8rem;
  padding: 0.2rem;
}

.page-description{
  font-family: $pfont;
  font-size: .7rem;
  @include nav(tablet){
    font-size: 1rem ;
  }
  @include nav(pc){
    font-size: 1rem ;
  }
}

.accordian-articles{
  width: 45%;
  height: 7rem;
  margin: .4rem;
  background: #176A90;
  border-radius: .5rem;
  &:hover{
    background: #13A2E5;
  }
  @include nav(tablet){
    width: 30%;
  }
  @include nav(pc){
    width: 20%;
  }


  img{
    width: 100%;
    height: 80%;
  }

  h3{
    color: white;
    font-size: .8rem;
    font-family: $pfont;
    width: fit-content;
  }
}

.accordian-articles-resources {
  width: 100%;
  height: 5rem;
  background: #176A90;
  margin-bottom: 1rem;
  border-radius: .5rem;

  &:hover{
    background: #13A2E5;
  }
  @include nav(pc) {
    width: 100%;
    height: 7rem;
  }

  img {
    width: 50%;
    height: 5rem;
    @include nav(pc) {
      height: 7rem;
    }
  }
  h3, h4 {
    color: white;
    padding: .2rem;
    font-size: .7rem;
    font-family: $pfont;
    width: 100%;
    @include nav(pc) {
      font-size: 1rem;
    }
  }
  h4 {
    font-size: .2rem;
    width: 100%;
    @include nav(pc) {
      font-size: .8rem;
    }
  }
}
    #avatar {
      width: 30%;
    }

    #about, #contact {
      background: #062847;
      height: 100%;

      h2 {
        font-family: $mainfont;
      }

    }

    .card-header {
      color: white;
    }

    input {
      background: #17903D;
      color: white;
    }

    #feedback {
      font-size: 1rem;
      font-family: $pfont;
      color: white;
    }

    #contact-info {
      font-size: 1.5rem;
    }

    #methods {
      a, p {
        font-size: .9rem;
      }

    }

    .form-control {
      width: 100%;
    }

    .contact-form {
      width: 50%;
      @include nav(mobile) {
        width: 75%;
      }
    }

    .wrapper {
      min-height: 100%;
      margin-bottom: -50px;
    }

    .footer, .push {
      height: 50px;
    }
