#logo{
  height: 10rem;
}

#banner{
  width: 60%;
  height: 10rem;

}

#social{
  width: 6rem;
  img {
    width: 3rem;
  }
}

.content-home{
  @include home-content(100%, 10rem);
  margin-bottom: 3rem;
}

.content-h1{
  font-family: $mainfont;
  font-size: 1.5rem;
}

.content-home-bg{
  background: #176A90;
  width: 100%;
  height: 100%;
}