body{
  background: #0B3E5F;
  color: white;
}

header{
  overflow: auto;
  background: #115478;
  margin-bottom: 2rem;
  div{
    display: flex;
  }
}

.navbar-nav{
  font-family: $mainfont;

  a{
    color: white;
    font-size: 0.8rem;

  }
}

ul{
  width: 70%;
  margin: 0 auto;
}

html{
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

p{
  font-family: $pfont;
  font-size: .7rem;
}

h1{
  font-family: $mainfont;
  font-size: 1rem;
}
h2{
  font-family: $pfont;
  font-size: 1rem;

  a{
    color: white;
    font-family: $mainfont;
  }
}

h3{
  font-size: 2rem;
}

.card{
  margin-bottom: 1rem;
  color: black;

}

.card-block{
  padding: 0.5rem;
  background: #062847;

}

.card-header{
  background: #176A90;
}

i {
  float: right;
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

footer{

}

