body{
  background: #0B3E5F;
  color: white;
}

header{
  overflow: auto;
  background: #115478;
  margin-bottom: 2rem;
  div{
    display: flex;
  }
}

.navbar-nav{
  font-family: $mainfont;

  a{
    color: white;
    font-size: 0.8rem;
    border-bottom: 1px solid white;

  }
}

ul{
  width: 70%;
  margin: 0 auto;
}

html{
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

h1{
  font-family: $mainfont;
  font-size: 1rem;
}

footer{

}

